body{
    z-index:-1;
    background-color: #FDE8D8;
}

#main{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 400rem;
}
.blur{
    filter: blur(5px);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
}

#contenido{
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    flex-wrap: wrap;
}
.table{
    background-color: #6D466B;
    color: #FFFFFF;
    font-size: 1.1rem ;
}
.columna{
    margin: 8px;
}

.columna-big{
    min-width: 80rem;
}

.columna-small{
    min-width: 24rem;
}
.linea{
    margin-bottom: 8px;
}
#agregar{
    display: none;
    z-index:100;
    top: 0px !important;
    width: 40%;
    position: absolute;
    margin-top: 5%;
    margin-left: 30%;
}
